name: Build and Test
on: [push, pull_request]

jobs:
  test:
    name: Test
    if: contains(github.ref, 'refs/tags/') == false
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.x
          cache: pnpm
      - name: Install packages
        run: pnpm install --frozen-lockfile
      - name: Run Tests
        run: pnpm run test

  build:
    name: Docker Build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Docker Build
        id: build
        uses: luludotdev/docker-build@master
        with:
          image-name: spamton
          token: ${{ secrets.GITHUB_TOKEN }}
          platforms: linux/amd64,linux/arm64
